<launch>
	<!-- Load controllers -->
	 <rosparam file="$(find sentry_simulation)/config/joint_velocity.yaml" command="load"/> 

	<!-- Controllers-->
	<node pkg="controller_manager" type="spawner" name="controller_spawner" respawn="false" output="screen" 
	      args="joint_state_controller
	            wheel_1_joint_velocity_controller
	            wheel_2_joint_velocity_controller
	            wheel_3_joint_velocity_controller
                wheel_4_joint_velocity_controller"
    />
    
    <node name="teleop_keyboard_control" pkg="sentry_simulation" type="telelop_keyboard_ctrl" respawn="true" output="screen" />

</launch>