<launch>
	<!-- Load controllers -->
	 <rosparam file="$(find sentry_simulation)/config/joint_velocity.yaml" command="load"/> 

	<!-- Controllers-->
	<node pkg="controller_manager" type="spawner" name="controller_spawner" respawn="false" output="screen" ns="/open_base" 
	      args="--namespace=/open_base
	            joint_state_controller
	            left_front_joint_velocity_controller
	            right_front_joint_velocity_controller
	            left_rear_joint_velocity_controller
                right_rear_joint_velocity_controller"
    />
    
    <node name="teleop_keyboard_control" pkg="sentry_simulation" type="telelop_keyboard_ctrl" respawn="true" output="screen" />

</launch>