<launch>

    <!-- gazebo -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <!-- the original pose of sentry in the gazebo world-->
    <arg name="origin_x" default="8.300177" />
    <arg name="origin_y" default="4.582030" />
    <arg name="origin_z" default="0.018392" />
    <arg name="origin_roll" default="0.0" />
    <arg name="origin_pitch" default="0.0" />
    <arg name="origin_yaw" default="-1.839898" />

    <!-- 加载机器人模型参数 -->
    <param name="robot_description" command="$(find xacro)/xacro  $(find sentry_simulation)/urdf/sentry_acker.urdf.xacro" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_sentry_base" args="-urdf -param /robot_description -model robot 
          -x $(arg origin_x) -y $(arg origin_y) -z $(arg origin_z) -R $(arg origin_roll) -P $(arg origin_pitch) -Y $(arg origin_yaw)" />

    <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find sentry_simulation)/mesh" />
    <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find sentry_simulation)/mesh" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="world_name" value="$(find sentry_simulation)/world/RMUC2024.world" />
    </include>
      
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="sentry_joint_publisher" output="screen" />    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="sentry_tf_publisher" output="screen">
        <!-- <param name="publish_frequency" value="20.0" /> -->
    </node>

    <node pkg="rviz" type="rviz" name="sentry_view_rviz" args="-d $(find sentry_simulation)/rviz/sentry_omni.rviz"/>
</launch>