# build temp files
.catkin_tools/*
.vscode/*
build/*
devel/*
logs/*

# usr files
src/sentry_localization/FAST_LIO/PCD/*
src/sentry_localization/point_lio/PCD/*
src/sentry_localization/point_lio/PCD_FRAME/*



