<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="open_base">

	<xacro:include filename="$(find sentry_simulation)/urdf/rim.urdf.xacro"/>

	<link name="base_link">
		<inertial>
			<mass value="0.07862944645"/>
			<inertia
				ixx="0.00002035985530754"
				ixy="0"
				ixz="0"
				iyy="0.00002035985530754"
				iyz="0"
				izz="0.00003945961663220"/>
			</inertial>
		<visual>
			<geometry>
				<mesh filename="package://sentry_simulation/mesh/omni/base.stl"/>
	
			</geometry>
			<material name="base_material">
				<color rgba="1 1 1 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://sentry_simulation/mesh/omni/base.stl"/>
			</geometry>
		</collision>
	</link>

	<xacro:rim_macro
		name="front_left"
		color="0.3 0 0"
		xyz="-0.03464101615 0.02 0"
		rpy="1.570796326794896 0 1.047197551196597"/>
	<xacro:rim_macro
		name="front_right"
		color="0 0 0.3"
		xyz="0.03464101615 0.02 0"
		rpy="1.570796326794896 0 -1.047197551196597"/>

	<xacro:rim_macro
		name="back_left"
		color="0 0.3 0"
		xyz="-0.03464101615 -0.02 0"
		rpy="1.570796326794896 0 2.094395102393"/>

	<xacro:rim_macro
		name="back_right"
		color="0 0 0"
		xyz="0.03464101615 -0.02 0"
		rpy="1.570796326794896 0 -2.094395102393"/>

	<gazebo reference="base_link">
    		<material>Gazebo/White</material>
  	</gazebo>

	<gazebo reference="rim_front_left_link">
    		<material>Gazebo/Red</material>
  	</gazebo>

	<gazebo reference="rim_front_right_link">
    		<material>Gazebo/Blue</material>
  	</gazebo>

	<gazebo reference="rim_back_left_link">
    		<material>Gazebo/Green</material>
  	</gazebo>

	<gazebo reference="rim_back_right_link">
    		<material>Gazebo/Black</material>
  	</gazebo>

	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
		<robotNamespace>/open_base</robotNamespace>
		</plugin>
	</gazebo>
	
</robot>
