<?xml version="1.0" ?>
<robot name="sentry_omni" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find sentry_simulation)/urdf/material_matrix.urdf.xacro" />
<xacro:include filename="$(find sentry_simulation)/urdf/material_color.urdf.xacro" />
<xacro:include filename="$(find sentry_simulation)/urdf/wheel.urdf.xacro" />
<xacro:include filename="$(find sentry_simulation)/urdf/sensor.urdf.xacro" />

    <link name="base_link">
        <visual>
            <geometry>
                    <cylinder length="0.05" radius="0.18" />
            </geometry>
            <origin rpy="0 0 1.57075" xyz="0 0 0.07" />
            <material name="White" />
        </visual>
        <collision>
            <geometry>
                    <cylinder length="0.005" radius="0.15" />
            </geometry>
            <origin rpy="0 0 1.57075" xyz="0 0 0.07" />
        </collision>
        <xacro:cylinder_inertial_matrix m="10" r="0.18" h="0.05" />
    </link>

    <gazebo reference="base_link">
        <pose>0 0 0 0 0 0</pose>
        <material>Gazebo/White</material>
    </gazebo>

    <xacro:wheel_macro name="1" color="Red"
                       xyz="0.2 -0.2 0.0326524329692152" 
                       rpy="-1.5707963267949 -6.12303176911189E-17 -2.35619445" />
    <xacro:wheel_macro name="2" color="Blue"
                       xyz="-0.2 0.2 0.0326524329692152" 
                       rpy="1.5707963267949 3.06151588454563E-17 0.78539815" />
    <xacro:wheel_macro name="3" color="Black"
                       xyz="0.2 0.2 0.0326524329692152" 
                       rpy="1.57079632679490 3.06151588456647E-17 -0.78539815" />
    <xacro:wheel_macro name="4" color="Green"
                       xyz="-0.2 -0.2 0.0326524329692152" 
                       rpy="1.5707963267949 3.06151588456647E-17 2.35619445" />

    <!-- //// ////////////////////////////// driver controller ///////////////////  -->
    <gazebo>
        <plugin name="omni_controller" filename="libgazebo_ros_planar_move.so">
            <robotNamespace>/</robotNamespace>

            <commandTopic>/cmd_vel</commandTopic>

            <!-- 因为关闭发布odom的tf没有效果，所以此处把parent link改为gazebo_odom,child link改为gazebo_base_link
            仍可以通过cmd_vel话题来控制小车的运动，同时可以跑其他里程计算法，避免干扰 -->
            <odometryTopic>/gazebo_odom</odometryTopic>
            <odometryRate>10.0</odometryRate>
            <odometryFrame>gazebo_odom</odometryFrame>
            <robotBaseFrame>gazebo_base_link</robotBaseFrame>
            <cmdTimeout>3.0</cmdTimeout>
            <publishOdomTF>False</publishOdomTF>
            <broadcastTF>False</broadcastTF>
        </plugin>
    </gazebo>

</robot>