<launch>
    <arg name="use_sim_time" default="true"/>

  <!-- lio -->
    <!-- <include file="$(find fast_lio)/launch/mapping_mid360.launch" /> -->
    <include file="$(find point_lio)/launch/mapping_mid360.launch" />

  <!-- turn the livox mid360 points to PointCloud2 points -->
    <node pkg="sentry_localization" type="livox_lidar_to_points" name="livox_lidar_to_points_node" output="screen" >
        <param name="livox_in_name" type="string" value="/livox/lidar" />
        <param name="livox_out_name" type="string" value="/livox/points" />
    </node>

  <!-- small gicp node -->
    <include file="$(find sentry_localization)/launch/small_gicp.launch" />

</launch>