<launch>
    <node pkg="pcd2gridmap" type="pcd_to_gridmap" name="pcd_to_gridmap" output="screen">
        <param name="map/pcd_file" type="string" value="$(find sentry_localization)/PCD/rmuc_2025.pcd" />
        <param name="map/resolution" type="double" value="0.05" />

        <param name="transform/x" type="double" value="0.0" />
        <param name="transform/y" type="double" value="0.0" />
        <param name="transform/z" type="double" value="0.0" />
        <!-- input: degree -->
        <param name="transform/roll" type="double" value="0.0" />
        <param name="transform/pitch" type="double" value="0.0" />
        <param name="transform/yaw" type="double" value="0.0" />
    
        <param name="filter/thre_z_min" type="double" value="0.1" />
        <param name="filter/thre_z_max" type="double" value="400" />
        <param name="filter/thre_radius" type="double" value="0.3" />
        <param name="filter/thre_count" type="int" value="10" />

    
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pcd2gridmap)/rviz/config.rviz" />



</launch>